<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/getall"> get all</a> <br>
    <a href="/list-sorted-people-by-name"> list people sorted by name</a> <br>
    <a href="/jobs">list jobs</a> <br>
    <a href="/cities">list cities</a> <br>
    <a href="/group-people-by-city">group people by city</a> <br>
    <a href="/list-top-job-in-city">List top 1 job in city</a> <br>
    <a href="/group-job-by-count"> group job</a> <br>
    <a href="/top-5-jobs">top 5 jobs</a> <br>
    <a href="/top-5-cities">top 5 city</a> <br>
    <a href="/top-5-highest-salary-city">top 5 highest salary city </a> <br>
    <a href="/avg-Job-salary">calculation avg jobs salary</a> <br>
    <a href="/avg-Job-age">calculation avg job age</a> <br>
    <a href="/avg-city-age">calculation avg city age</a><br>
    <a href="/find-5-cities-have-most-job">find 5 cities have most specific job</a>
</body>
</html>