<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>
<body>
    <h1 th:text ="${user.fullname} + '\'s Micro Blog'"></h1>

    <form th:action="@{/posts/save}" th:object = "${post}" method="post">
        <input type="hidden" th:field = "*{id}"> <br>
        <input type="text" placeholder="Post title" th:field = "*{title}"> <br>
        <input type="text" placeholder="Post content" th:field = "*{content}"> <br>
        <button type="submit">Save</button>
    </form>
    <a href="/logout">Logout</a>
</body>
</html>